<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  <link rel="icon" type="image/png" href="/static/img/black-evil-cat.png">
  <title>YoraBlog - Ошибка</title>
</head>
<body>
  <header>
    <h1>YoraBlog - поэма о кошках</h1>
    <nav class="menu">
      <ul>
        <li><a href="/">На главную</a></li>
      </ul>
    </nav>
  </header>
  <div class="flex-container">
    <article>
      <section class="errormessage">
        {{.}}
      </section>
    </article>
    <aside>
      <p>Архив и все такое</p>
      <p>Приколы</p>
      <p>Напиши мне</p>
      <p>Случайное</p>
    </aside>
  </div>
  <footer>
    Copyright <a href="mailto:vbutakov@gmail.com">vbutakov@gmail.com</a><br /><br />
    <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </br/>
</footer>
</body>
</html>
