<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  <title>YoraBlog - поэма о кошках</title>
</head>
<body>
  <header>
    <h1>YoraBlog - поэма о кошках</h1>
    <nav>
      <ul>
        <li><a href="#">Туда</a></li>
        <li><a href="#">Сюда</a></li>
        <li><a href="#">Куда-то</a></li>
      </ul>
    </nav>
  </header>
  <aside>
    <p>Архив и все такое</p>
    <p>Приколы</p>
    <p>Напиши мне</p>
    <p>Случайное</p>
  </aside>
  <article>
    <section>
      <h2>О космосе и котах</h2>
      <p>
        Бывает так, что сидишь, смотришь на кошку
        и понимаешь - там целый космос.
      </p>
    </section>
    <section>
      <h2>Как выжить среди хищников</h2>
      <p>
        Вопрос выживания дома среди хищников возникает часто.
        Основной принцип - не отсвечивай.
      </p>
    </section>
  </article>
  <footer>
    Copyright <a href="mailto:vbutakov@gmail.com">vbutakov@gmail.com</a>
  </footer>
</body>
</html>
