<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  <link rel="icon" type="image/png" href="/static/img/black-evil-cat.png">
  <title>YoraBlog - поэма о кошках</title>
</head>
<body>
  <header>
    {{if .UserName}}
    <div class="currentUser">
      <p>{{.UserName}}</p>
      <a href="/logout/">Выйти</a>
    </div>
    {{end}}
    <h1>YoraBlog - поэма о кошках</h1>
    <nav class="menu">
      <ul>
        <li><a class="round-button" href="/"><i class="material-icons">home</i></a></li>
        <li><a class="round-button" href="/create/"><i class="material-icons">add</i></a></li>
      </ul>
    </nav>
  </header>
    <article>
      {{range .Posts}}
      <section class="post-card">
        <h2>{{.Title}}</h2>
        <p class="datetime">{{.Author}} {{.CreatedAt}}</p>
        <p>{{.Annotation}}</p>
		<div class="simple-button"><a href="/post/{{.ID}}">ПОДРОБНЕЕ</a></div>
      </section>
      {{end}}
      <nav class="pager">
        <ul>
          <li class="simple-button"><a href="{{.PrevPageURL}}"><< Предыдущие</a></li>
          <li class="simple-button"><a href="{{.NextPageURL}}">Следующие >></a></li>
        </ul>
      </nav>
    </article>
  <footer>
    Copyright <a href="mailto:vbutakov@gmail.com">vbutakov@gmail.com</a><br /><br />
    <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </br/>
  </footer>
</body>
</html>
