<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  <link rel="icon" type="image/png" href="/static/img/black-evil-cat.png">

  {{template "OpenGraph" .}}

  <title>YoraBlog - поэма о кошках</title>
</head>
<body>
  <header>
    {{if .UserName}}
    <div class="currentUser">
      <p>{{.UserName}}</p>
      <a href="/logout/">Выйти</a>
    </div>
    {{end}}
    <h1><a href="/">YoraBlog - поэма о кошках</a></h1>
  </header>

    {{template "DATA" .}}

  <footer>
    Copyright <a href="mailto:vbutakov@gmail.com">vbutakov@gmail.com</a>
    <br/>
    <br/>
    <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <br/>
    <br/>
    <!-- yandex money -->
    <iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/donate.xml?account=410013379025392&quickpay=donate&payment-type-choice=on&default-sum=&targets=%D0%9F%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%B8+%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82&target-visibility=on&project-name=Yorkina.ru&project-site=http%3A%2F%2Fyorkina.ru&button-text=01&successURL=" width="436" height="117"></iframe>
    <!-- yandex money -->
</footer>

<!-- Google analytics -->
<script>
if(window.location.hostname != "localhost"){
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72160982-1', 'auto');
  ga('send', 'pageview');
}
</script>
<!-- Google analytics -->

</body>
</html>
