{{define "OpenGraph"}}
<meta property="og:title" content="{{.OGTitle}}" />
<meta property="og:description" content="{{.OGDescription}}" />
<meta property="og:image" content="{{.OGImage}}" />
<meta property="og:type" content="{{.OGType}}" />
<meta property="og:url" content="{{.OGURL}}" />
{{end}}